body {
  background-image: url('assets/images/paper-texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #161414;
  font-family: serif;
}

p {
  font-size: 1.25em;
  margin: 0.25em;
}

h1 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0.25em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
  font-style: italic;
  margin: 0.25em;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
}

h4 {
  font-size: 1.25em;
  font-weight: normal;
  font-style: italic;
}

.bibliography {
  font-size: 1.25em;
  text-indent: -2.5em;
  padding-left: 2.5em;
  line-height: 2;
}

li {
  margin: 0;
  margin-left: -2em;
  padding: 1% 15%;
  font-size: 1.25em;
  list-style-type: none;
  background-image: url('assets/images/pointer.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 10%;
  */
}

/* link styling */
a:link, a:visited {
  color: #3c8eac;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #3c8eac;
  color: #efead1;
  text-decoration: none;
}

/*link styling for images */
a.image:hover {background-color: #efead1;}

/* reversed colors link styling */
a.reverse:link {
  color: efead1;
  text-decoration: none;
}

a.reverse:visited {
  color: efead1;
  text-decoration: none;
}

a.reverse:hover, a.reverse:active {
  background-color: efead1;
  color: #161414;
  text-decoration: none;
}

/* custom fonts */
@font-face {
  font-family: Fenwick Woodtype;
  src: url('assets/fonts/FenwickWoodtype/FenwickWoodtype.ttf');
}

/* website sections made with flex-boxes */
.large-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

/* section that takes up the entire page */
.sub-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  padding: 10px;
  margin: 10px;
  outline: 5px groove #ec9738;
  background-color: #efead1;
}

/* section on the left */
.sub-small {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 25%;
}

/* about me and links pop-ups */
.small-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  outline: 5px groove #ec9738;
  background-color: #efead1;
}

/* section on the right */
.sub-larger {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 20px;
  width: 75%;
}

.sub-large {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  outline: 5px groove #ec9738;
  background-color: #efead1;
}

/* adjusting for mobile */
@media (max-width: 800px) {
  p {
    font-size: 1em;
  }
  
  .large-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .sub-small, .sub-large {
    width: 100%;
    margin: 0 5px;
  }
  
  .sub-small-two {
    width: 100%;
  }
  
  .sub-large {
    width: 100%;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  
  .sub-larger {
    width: 95%;
  }
}